body {
    background-color: #77C850;

}

.top  {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
}

h3{
    padding: 0;
    margin: 1rem 0 0 0;
}

ol {
    display: flex;
}

.types li {
    border-radius: 1rem;
    font-size: 1rem;
}

.number {
    font-size: 1.2rem;
    margin-top: -50px;
    margin-bottom: 0.67em;
    color: white;
}

.pokeimg {
    max-height: 100%;
    width: 200px;
    align-self: center;

}

.menu {
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.info1  {
    display: grid;
    grid-template-columns: 1fr;
}

.info2 {
    display: grid;
    grid-template-columns: 1fr;
}

.info3  {
    padding: 0 .8rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.boxlist li {
    padding: 0.8rem ;
}




.options  {
    color: white;
    justify-content: space-between;
}





.barra {

    margin: 0 30rem 0 2rem;
    width: 80%;
    height: .25rem;
    border-radius: 1rem;
    background-color: #CCC;
}

.barra div {
    height: 100%;
    border-radius: 1rem;
    background-color: red;
    width: 50%;
}


@media screen and (min-width: 380px) {
    .content {
        margin: 1rem auto;
        margin-top: -2.3rem;
        padding-top: 3rem; 
        border-radius: 1rem;
    }
}

@media screen and (min-width: 280px) {
    .top {
        margin: 1rem 5% 0 5%;
    }
}

@media screen and (min-width: 576px) {
    .top {
        margin: 1rem 5% 0 5%;
    }
}
@media screen and (min-width: 992px) {
    .top {
        margin: 1rem 15% 0 15%;
    }
}