.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    text-transform: capitalize;
}

.pokemons li {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #FFFFFF;
}

.number {
    color: #4e504d88;
    text-align: right;
}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail img {
    max-height: 100%;
    width: 80px;
}

.types li {
    text-align: center;
    background-color: #ffffff3f;
    color: white;
    padding: .2rem .5rem;
    font-size: .725rem;
    margin: .25rem;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    padding: .125rem .5rem;
    margin: .155rem 1rem;
    font-size: 1.3rem;
    color: #FFF;
    background-color: #6C79DB;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}